.pages {
    background: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff);
    background-image: linear-gradient(#fdfdfd, #ffffff);
    font-weight: bold;
    color: #2f3e46;
    text-shadow: 0 1px 1px #f6f6f6;
}

.bottom_bar {
    height: 100px;
    background-image: url('../images/bg_footer.png');
    background-repeat: repeat-x;
}

    .bottom_bar ul {
        margin-top: 30px;
        margin-left: 40px;
    }

        .bottom_bar ul li {
            width: 150px;
            display: table-cell;
        }

.header_bar {
    height: 100px;
    background-image: url('../images/bg_header.png');
    background-repeat: repeat-x;    
}

    .header_bar .title_text {        
        font-size: 30px;        
        color:#ffffff;                
        border: 0px solid #000;        
        white-space: nowrap;
        position:absolute;        
    }
        .header_bar .home {
            width: 650px;
            top: 30px;
            left: 100px;
        }
        .header_bar .none {
            width: 740px;
            top: 30px;
            left: 10px;
        }
        .header_bar .titlebefore {
            width: 600px;
            top: 30px;
            left: 150px;
        }

    .header_bar .title_image {                
        margin-top: 7px;
        margin-left: 10px;
    }

.homesearch {
    margin-top: 0;
}
    .homesearch .ui-input-search {
        width: 99%;
    }
    
.searchpage {
    
}
    .searchpage .ui-input-search {
        width: 99%;
    }


.homeProducts {
    margin-top: 10px;
}

    .homeProducts .group_Products {
    }

        .homeProducts .group_Products .title {
            color: #fca62b;
        }

        .homeProducts .group_Products .more {
            color: #808080;
            float: right;
            margin-right: 10px;
            font-weight: normal;
        }

        .homeProducts .group_Products hr {
            margin: 5px 5px 10px 0px;
        }

        .homeProducts .group_Products .product {
            width: 230px;
            height: 230px;
            display: table-cell;
            padding: 5px;
        }

            .homeProducts .group_Products .product img {
                border: 1px solid #c3c3c3;
                width: 230px;
                height: 230px;
            }

.ui-header .header-back {
    width: 100px;
    min-width: 60px;
    margin-top: -15px;
}
