.list_item_title_inbox {
	font-size: 40px;
	font-weight: bold;
}
.list_item_title_inbox_viewed{
	font-size: 40px;
	font-weight: 200px
}
.list_item_subtitle_inbox {
	font-size: 30px;
}
.list_item_subtitle_wrap {
	width: 560px;
}

.email_from {
	font-size: 40px;
}

.email_title {
	font-size: 40px;
	font-weight: 600;
}

.email_date_send {
	font-size: 35px
}

.email_body {
	font-size: 40px;
}

.ui-header .header-mail-menu {
    width: 130px;
    min-width: 130px;
    min-height:110px;
    margin-top: 0px;
    background-image: url("../icons/48_gray/Settings-02.png");
    background-repeat:no-repeat;
    background-position: center center;
}

.ui-li-has-count .ui-li-count {
	font-size: 30px;
}

.ui-panel {
	width: 400px;
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push
{
	left: -8em;
}
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit
{
	padding-left: 120px;
}