
#content {
    height: 620px;
    width: 700px;
    overflow: hidden;
    position: relative;
    border: 0px solid black;
    margin: 0 auto;
}

#imgs {
    float: left;
    display: inline;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    padding: 0px;
    margin: 0px;
    width: 2200px;
    /*apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing) */
    -webkit-transform: translate3d(0px,0px,0px);
}

    #imgs img {
        padding: 0px;
        margin: 5px 50px;
        width: 600px;
        height: 600px;
        /*apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing) */
        -webkit-transform: translate3d(0px,0px,0px);
        border: 0px solid black;
    }

.productName {
    font-size: 40px;
}

.productImage {
    width: 100%;
}

.productPriceInfo {
    margin-top: 10px;
    border: 0px solid black;
    min-height: 250px;
    font-size: 36px;
}

    .productPriceInfo .productPrice {
        float: left;
        /*width: 450px;*/
        border: 0px solid black;
    }

        .productPriceInfo .productPrice .price_title {
            display: table-cell;
            font-weight: normal;
            padding: 5px;
            width: 120px;
            text-align: left;
        }

        .productPriceInfo .productPrice .price_content {
            display: table-cell;
            font-weight: normal;
            letter-spacing: 2px;
            color: #ff0000;
            padding: 5px;
            /*width: 350px;*/
            font-size: 50px;
        }

        .productPriceInfo .productPrice .oldprice_title {
            display: table-cell;
            font-weight: normal;
            padding: 5px;
            width: 120px;
            text-align: left;
        }

        .productPriceInfo .productPrice .oldprice_content {
            display: table-cell;
            font-weight: normal;
            padding: 5px;
            /*width: 350px;*/
            text-decoration: line-through;
        }

        .productPriceInfo .productPrice .moreprice_title {
            display: table-cell;
            font-size: 25px;
            font-weight: normal;
            padding: 5px;
            width: 120px;
            text-align: left;
        }

        .productPriceInfo .productPrice .moreprice_content {
            display: table-cell;
            font-weight: normal;
            padding: 5px;
        }

        .productPriceInfo .productPrice .review_title {
            display: table-cell;
            font-weight: normal;
            padding: 5px;
            width: 170px;
            text-align: left;
        }

        .productPriceInfo .productPrice .review_content {
            display: table-cell;
            font-weight: normal;
            padding: 20px 5px 5px 5px;
        }

            .productPriceInfo .productPrice .review_content .review_content_star {
                display: table-cell;
                width: 200px;
            }

            .productPriceInfo .productPrice .review_content .review_content_more {
                display: table-cell;
                text-align: right;
            }

            .productPriceInfo .productPrice .review_content a {
                font-weight: normal;
                text-decoration: none;
            }

.actionCart {
    background-color: #e5f5ff;        
    border: 0px solid black;
    padding: 20px;
}

    .actionCart .bg-buttonCart {
        line-height: 38px;
        height: 60px;
        border: 0px;
        border-image: initial;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        box-shadow: rgb(136, 136, 136) 5px 5px 5px;
        background: linear-gradient(rgb(226, 118, 15) 1%, rgb(229, 99, 21) 98%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(226, 118, 15)), to(rgb(229, 99, 21)));
        background-image: -webkit-linear-gradient(rgb(226, 118, 15), rgb(229, 99, 21));
        background-image: linear-gradient(rgb(226, 118, 15), rgb(229, 99, 21));
        padding: 20px;
        background-color: rgb(226, 118, 15);
    }

        .actionCart .bg-buttonCart .icon-buttonCart {            
            float:left;
            width: 100%;
            height: 100%;
            background-image: url('../icons/48_white/Add-To-Cart.png');
            background-position-x: 30%;
            background-repeat: no-repeat;
        }

        .actionCart .bg-buttonCart .txt {
            margin: 10px auto;
            font-size: 50px;
            color: #ffffff;
            text-align: center;
        }

    .actionCart .addToWishList {
        margin-top: 20px;
        line-height: 38px;
        height: 60px;
        border: 0px;
        border-image: initial;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        /*box-shadow: rgb(136, 136, 136) 5px 5px 5px;*/
        background: linear-gradient(#7ce42c 1%, #7ce42c 98%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#7ce42c), to(#7ce42c));
        background-image: -webkit-linear-gradient(#7ce42c, #7ce42c);
        background-image: linear-gradient(#7ce42c, #7ce42c);
        padding: 20px;
        background-color: #e7e7e7;
    }
        .actionCart .addToWishList .txt {
            margin: 10px auto;
            font-size: 36px;
            color: #ffffff;
            text-align: center;
        }
        /*.actionCart .addToWishList a {
            line-height: normal;
            font-size: 30px;
            font-weight: normal;
            text-decoration: none;
        }*/

.productDecription {
    margin-top: 10px;
    border: 0px solid black;
}

    .productDecription .decription_title {
        color: #315d93;
        font-size: 40px;
        border-bottom: 2px solid rgb(136, 136, 136);
        margin-bottom: 10px;
    }

    .productDecription .decription_content {
        font-size: 36px;
        font-weight: normal;
    }

.productSimilar {
    margin-top: 30px;
    border: 0px solid black;
}

    .productSimilar .similar_title {
        color: #315d93;
        font-size: 40px;
        border-bottom: 2px solid rgb(136, 136, 136);
        margin-bottom: 10px;
    }

.productDecription .similar_content {
    font-size: 36px;
    font-weight: normal;
}
